[Desktop Entry]
Encoding=UTF-8
Name=Link to Piecewise Affine Transformation — skimage v0.20.0 docs
Type=Link
URL=https://scikit-image.org/docs/stable/auto_examples/transform/plot_piecewise_affine.html#sphx-glr-auto-examples-transform-plot-piecewise-affine-py
Icon=text-html
