[Desktop Entry]
Encoding=UTF-8
Name=Link to Real-time Hand Gesture Recognition using TensorFlow & OpenCV - TechVidvan
Type=Link
URL=https://techvidvan.com/tutorials/hand-gesture-recognition-tensorflow-opencv/
Icon=text-html
