[Desktop Entry]
Encoding=UTF-8
Name=Link to Swapping faces with 90 lines of Python - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ObmuflX8Ank
Icon=text-html
