[Desktop Entry]
Encoding=UTF-8
Name=Link to Feature Matching — OpenCV 3.0.0-dev documentation
Type=Link
URL=https://docs.opencv.org/3.0-beta/doc/py_tutorials/py_feature2d/py_matcher/py_matcher.html
Icon=text-html
