[Desktop Entry]
Encoding=UTF-8
Name=Link to TPS-Warp/TPSwarping.py at main · AlanLuSun/TPS-Warp
Type=Link
URL=https://github.com/AlanLuSun/TPS-Warp/blob/main/TPSwarping-python/TPSwarping.py
Icon=text-html
